
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  background: rgb(0, 0, 0);
  color: white;
  height: 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  font-family: "Roboto", sans-serif;
}

nav ul li {
  list-style: none;
}
.game-conCm{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.game-con {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.containerCm {
  display: grid;
  grid-template-columns: repeat(3, 9vw);
  grid-template-rows: repeat(3, 9vw);
  font-family: "Roboto", sans-serif;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 9vw);
  grid-template-rows: repeat(3, 9vw);
  font-family: "Roboto", sans-serif;
}
.boxCm {
  border: 2px solid black;
  font-size: 8vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  border: 2px solid black;
  font-size: 8vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box:hover {
  background: rgb(217, 180, 252);
}
.boxCm:hover {
  background: rgb(217, 180, 252);
}
.info {
  font-size: 22px;
}
.infoCm {
  font-size: 22px;
}
.game-info {
  padding: 0 34px;
  font-family: "Baloo Bhaina 2", cursive;
}
.game-infoCm {
  padding: 0 34px;
  font-family: "Baloo Bhaina 2", cursive;
}
.img-boxCm img {
  width: 0;
  transition: width 1s ease-in-out;
}
.br-0 {
  border-right: 0;
}
.bl-0 {
  border-left: 0;
}
.bt-0 {
  border-top: 0;
}
.bb-0 {
  border-bottom: 0;
}
#select-box {
 display: flex;
 justify-content: center;
 align-items: center;
 margin: auto;
 margin-top: 10px;
 font-size: 18px;
 font-family: "Baloo Bhaina 2", cursive;
 padding: 5px;
 border-radius: 10px;
 text-align: center;
}

label{
  font-size: 18px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  font-family: "Baloo Bhaina 2", cursive;
  font-style: italic;
}


 #reset {
  margin: 0 20px;
  padding: 1px 18px;
  background: #f3e7f9;
  border-radius: 6px;
  cursor: pointer;
  font-family: "Baloo Bhaina 2", cursive;
  font-size: 15px;
  font-weight: bolder;
}

@media screen and (max-width: 950px) {
  .game-con {
    flex-wrap: wrap;
  }
  .game-info {
    margin-top: 34px;
  }
  .game-info h1 {
    font-size: 1.5rem;
  }
  .container {
    grid-template-columns: 3, 20vw;
    grid-template-columns: 3, 20vw;
  }
}   
